<?xml version="1.0"?>
<web-app>
    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/jsf/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <servlet-mapping>
        <servlet-name>jsfServlets</servlet-name>
        <url-pattern>/jsf/*</url-pattern>
    </servlet-mapping>
</web-app>